<h1>Message Page</h1>

<% if current_user.type == 'instructor' || current_user.type == 'student'%>
    <%= link_to 'New Message', controller: 'messages', action: 'new'%>
    |
    <%= link_to 'View Sent Messages', controller: 'messages',action: 'view_sent' %>
<% end %>
<table>
  <tr>
    <th>Sender</th>
    <th>Subject</th>
    <th>Time</th>
    <th colspan="2"></th>
  </tr>

  <% @messages.each do |message| %>
      <tr>
        <td><%= User.find(message.sender).name %></td>
        <td><%= message.subject %></td>
        <td><%= message.created_at %></td>
        <td><%= link_to 'View', {:controller => "messages",
                                  :action => "show", :c => message.id } %></td>
        <td><%= link_to 'Delete', {:controller => "messages",
                                 :action => "destroy", :c => message.id } %></td>
        </tr>
      <% end %>
</table>
