<h1>Listing students</h1>

<%= link_to 'New student', controller: 'students', action: 'new'%> 
<table>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th colspan="5"></th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.name %></td>
      <td><%= link_to 'View', student_path(user) %></td>
      <td><%= link_to 'Edit', edit_student_path(user) %></td>
      <td><%= link_to 'Delete', student_path(user),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      <td><%= link_to 'History', {:controller => 'enrollments', :action => 'student_history', :u => user.id} %></td>
    </tr>
  <% end %>
</table>
