<h1>
  <center>
    Welcome <%= current_user.name %>
  </center>
</h1>
<body>
<center>
  <% if current_user.type == 'admin' || current_user.type == 'superadmin'%>
    <%= link_to "Admin Functionalities", controller: 'admins', action: 'index'%>
      |
      <%= link_to 'Instructor Functionalities', controller: 'instructors', action: 'index'%>
      |
      <%= link_to 'Student Functionalities', sessions_new_path%>
      |
      <%= link_to 'Course Functionalities', sessions_new_path%>
  <% elsif current_user.type == 'instructor'%>
    <%= link_to 'Instructor Functionalities', sessions_new_path%>
  <% else %>
    <%= link_to 'Student Functionalities', sessions_new_path%>
  <% end %>

</center>
</body>