<h1> Show enrollment </h1>

<p>
  <strong>Student:</strong>
  <%= @enrollment.user %>
</p>

<p>
  <strong>Course:</strong>
  <%= @enrollment.course %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @enrollment.grade %>
</p>

<p>
  <strong>Status:</strong>
  <%= @enrollment.status %>
</p>


<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
