<h1>Listing courses</h1>
<% if current_user.type =='admin' || current_user.type == 'superadmin' %>
    <%= link_to 'New course', controller: 'courses', action: 'new'%>
<% end %>
<table>
  <tr>
    <th>Course Number</th>
    <th>Title</th>
    <th>Instructor</th>
    <th>Status</th>
    <th colspan="4"></th>
  </tr>
 
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.course_number %></td>
      <td><%= course.title %></td>
      <td><%= course.user.email %></td>
      <td><%= course.status %></td>
      <td><%= link_to_if((course.status == "active"), 'View', course_path(course)) %></td>
      <% if current_user.type =='admin' || current_user.type == 'superadmin' %>
          <td><%= link_to_if((course.status == "active"), 'Edit', edit_course_path(course)) %></td>
          <td><%= link_to 'Delete', course_path(course),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
          <% if course.status == "inactive_requested" %>
            <td><%= link_to_if((course.status == "inactive_requested"), 'Approve inactive request',
                               {:controller => "courses",
                                :action => "approve_inactive_request", :c => course.id }) %></td>
              <% end %>
          <% end %>
    </tr>
  <% end %>
</table>
