<h1>Listing courses after search</h1>

<table>
  <tr>
    <th>Course Number</th>
    <th>Title</th>
    <th>Description</th>
    <th>Instructor</th>
    <th>Status</th>
    <th colspan="2"></th>
  </tr>
 
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.course_number%></td>
      <td><%= course.title%></td>
      <td><%= course.description%></td>
      <td><%= course.user_id %></td>
      <td><%= course.status%></td>
      <td><%= link_to 'View', course_path(course) %></td>
     <% if course.status == 'active' and not @enrolledCourses.include?(course.id) %>
      <td><%= link_to 'Register', controller: 'enrollments', action: 'request_enroll',course_id:  course.id%></td>
     <% end %>
    </tr>
  <% end %>
</table>
