<h1>Listing courses after search</h1>

<table>
  <tr>
    <th>Course Number</th>
    <th>Title</th>
    <th>Description</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Instructor</th>
    <th>Status</th>
    <th colspan="2"></th>
  </tr>
 
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.course_number %></td>
      <td><%= course.title %></td>
      <td><%= course.description %></td>
      <td><%= course.start_date %></td>
      <td><%= course.end_date %></td>
      <td><%= course.user_id %></td>
      <td><%= course.status %></td>
      <td><%= link_to_if((course.status == "active"), 'View', course_path(course)) %></td>
      <td><%= link_to 'Register', controller: 'enrollments' ,action: 'request',student_id: current_user.id,course_id: course.id  %></td>
    </tr>
  <% end %>
</table>
