<h1> Show course </h1>

<p>
  <strong>Course Number:</strong>
  <%= @course.course_number %>
</p>
 
<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>
 
<p>
  <strong>Start Date:</strong>
  <%= @course.start_date %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @course.end_date %>
</p>
 
<p>
  <strong>Instructor:</strong>
  <%= @course.user_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @course.status %>
</p>

