<h1>My courses</h1>

<table>
  <tr>
    <th>Course Number</th>
    <th>Title</th>
    <th>Grade</th>
    <th colspan="2"></th>
  </tr>

  <% @enrollments.each do |enrollment| %>
      <tr>
        <td><%= Course.find(enrollment.course_id).course_number %></td>
        <td><%= Course.find(enrollment.course_id).title %></td>
        <td><%= enrollment.grade%></td>
        <td><%= link_to 'View Course Material', controller: "materials", action:"student_course_material", course_id: enrollment.course_id%></td>
        <td><%= link_to 'Drop Course', controller: "enrollments", action:"drop", student_id: enrollment.user_id, course_id: enrollment.course_id%></td>
      </tr>
  <% end %>
</table>
