<h1>View Announcements</h1>

<table>
  <tr>
    <th>Course Number</th>
    <th>Title</th>
    <th>Instructor</th>
    <th>Status</th>
    <th colspan="3"></th>
  </tr>
 
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.course_number %></td>
      <td><%= course.title %></td>
      <td><%= course.user.email %></td>
      <td><%= course.status %></td>
      <td><%= link_to_if((course.status == "active" || course.status == "inactive_requested"), 'View Announcements',{:controller => "materials",
                                                                      :action => "index", :c => course.id }) %></td>
      <% if current_user.type == "instructor" %>
          <td><%= link_to_if((course.status == "active"), 'Send Request to Inactive',{:controller => "courses",
                                                                                  :action => "inactive_request", :c => course.id }) %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', controller: 'users', action: 'show' %>
